.group-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.dropzone-status-container {
    display: flex;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.dropzone-container {
    flex: 1;
    box-sizing: border-box;
}

.excel-group .dropzone-container {
    flex: 0 0 70%;
}

.status-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-left: 0;
    flex: 0 0 30%;
    height: 100px;
}
