.main-window {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.table-wrapper {
    flex: 1;
    padding: 0 1px;
}

.table-container {
    width: 100%;
    margin: 0 1px;
}

.dense-table {
    width: 100%;
    border-collapse: collapse;
}

.dense-table th, .dense-table td {
    border: 1px solid #ddd;
    padding: 0 4px;
    font-size: 9px;
    line-height: 1;
    height: 20px;
    text-align: left;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-header {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100px;
    background-color: #333;
    color: #fff;
}

.checkin-header, .checkout-header {
    width: 90px;
    background-color: #333;
    color: #fff;
}

.table-cell {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100px;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkin-cell, .checkout-cell {
    width: 90px;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ok-cell.checked {
    background-color: green;
    color: white;
    text-align: center;
}

.ok-cell.unchecked {
    background-color: red;
    color: white;
    text-align: center;
}

.booking-header {
    width: 110px;
    background-color: #333;
    color: #fff;
}

.booking-cell {
    width: 110px;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox-header {
    min-width: 20px;
    background-color: #333;
    color: #fff;
}

.checkbox-cell {
    min-width: 20px;
    box-sizing: border-box;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
