.main-window {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
}

.table-wrapper {
    flex: 1;
    padding: 0 1px;
}

.table-container {
    width: 100%; /* Ensures the table fills the container */
    margin: 0 1px;
}

.dense-table {
    width: 100%;
    border-collapse: collapse; /* Ensures there is no space between table cells */
}

.dense-table th, .dense-table td {
    border: 1px solid #ddd; /* Optional: Add border for visual clarity */
    padding: 0 4px; /* Padding for table cells */
    font-size: 10px; /* Updated font size */
    line-height: 1; /* Reduced line height */
    height: 20px; /* Adjusted height for table cells */
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.table-header {
    max-width: 100px; /* Adjust as needed for Booking #, Last Name, First Name */
    background-color: #333; /* Inverse background color */
    color: #fff; /* Inverse text color */
}

.checkin-header, .checkout-header {
    width: 90px; /* Adjust width for date columns to fit DD-MM-YYYY */
    background-color: #333; /* Inverse background color */
    color: #fff; /* Inverse text color */
}

.table-cell {
    max-width: 100px; /* Adjust as needed */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.checkin-cell, .checkout-cell {
    width: 90px; /* Ensure the cells do not exceed the header width for dates */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.ok-cell.checked {
    background-color: green;
    color: white;
    text-align: center;
}

.ok-cell.unchecked {
    background-color: red;
    color: white;
    text-align: center;
}
