/* styles.css */
.dropzone {
    border: 2px dashed #ccc;
    padding: 10px;
    text-align: center;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #333;
    color: #fff;
}

.dropzone.disabled {
    background-color: #666;
    color: #ccc;
    cursor: not-allowed;
}

.dropzone p {
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
}

.status-bar {
    background: #eee;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.status-bar-section {
    text-align: center;
    width: 250px;
}

.status-bar-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.status-bar-buttons button {
    margin: 0 5px;
}
